@import url('https://fonts.googleapis.com/css?family=Righteous');
$main-color: #56445d;
$alpha-color: rgba(0, 0, 0, .2);
$cell-color: #c5e99b;
$text-color: #548687;
// $color: #8FBC94;
// $color: #44364A;

body {
  background-color: $main-color;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  text-align: center;
  font-size: 1.4rem;
  color: $text-color;
  font-family: 'Righteous', cursive;
}

header {
  background-color: $alpha-color;
  padding: 20px;
}

main {
  display: inline-block;
  text-align: right;
  margin-top: 20px;
}

.moves {
  float: left;
  height: 30px;
  margin: 20px 0;
}

.reset {
  height: 30px;
  border: 1px solid #fff;
  border-radius: 5px;
  margin: 20px 0;
  text-align: right;
}

.board {
  background-color: $alpha-color;
  border-radius: 5px;
  padding: 10px;
  &__row {
    display: flex;
    justify-content: center;  
  }
  &__col {
    display: flex;
    justify-content: center;
    align-items: center;
    $cel-size: 80px;
    width: $cel-size;
    height: $cel-size;
    margin: 10px;
    background-color: $cell-color;
    border-radius: 5px;
  }
  &__col--empty {
    background-color: transparent;
    font-size: 0px;
  }
}