$main-color: #56445d;
// #8FBC94
// #548687
// #44364A
body {
  background-color: $main-color;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  text-align: center;
  font-size: 1.4rem;
  color: #548687;
}

.top {
  background-color: rgba(0, 0, 0, .2);
  padding: 20px;
}

.main {
  // background-color: #fff;
  display: inline-block;
  text-align: right;
  margin-top: 20px;
}

.moves {
  width: 160px;
  height: 30px;
  // background-color: mintcream;
  // padding: 10px;
  margin: 10px 0;
  text-align: left;
}

.reset {
  display: inline-block;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 5px;
  // padding: 10px;
  margin: 20px 0;
  text-align: right;
}

.board {
  background-color: rgba(0, 0, 0, .2);
  border-radius: 5px;
  padding: 10px;
  &__row {
    display: flex;
    justify-content: center;  
  }
  &__col {
    $cel-scale: 80px;
    width: $cel-scale;
    height: $cel-scale;
    margin: 10px;
    background-color: #c5e99b;
    border-radius: 5px;
  }
}

.empty {
  $cel-scale: 80px;
  width: $cel-scale;
  height: $cel-scale;
  margin: 10px;
  background-color: #44364A;
  border-radius: 5px;
}